<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5764479961-c10a8ijrf2o7u9d6uo6n5bunh9h5nndh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5764479961-c10a8ijrf2o7u9d6uo6n5bunh9h5nndh</string>
	<key>API_KEY</key>
	<string>AIzaSyAX11hp_dDZGvaUpf5dJ1UMcxNfT8zuvy8</string>
	<key>GCM_SENDER_ID</key>
	<string>5764479961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sabinabarinova.YumHome</string>
	<key>PROJECT_ID</key>
	<string>recipe-97697</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-97697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:5764479961:ios:aeedad84c0e40fbc5677c8</string>
</dict>
</plist>
